/* color palette from <https://github.com/vuejs/theme> */
:root {
  --white: #ffffff;
  --white-soft: #f7f0e8;
  --lightest-green: #c0e6a4;
  --light-green: #688d63;
  --dark-green: #374b27;

  --highlight-green: #aedc95;

  --color-background-main: var(--white);

  /* title or header cards */
  --color-background-header: var(--dark-green);
  --color-text-header: var(--white);

  /* primary cards */
  --color-background-sections: var(--white);

  /* secondary cards */
  --color-background-secondary: var(--lightest-green);

  --color-text: var(--dark-green);

  --section-gap: 160px;
}

*,
*::before,
*::after {
  font-family: "Libertinus Math", system-ui;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

a,
a:visited,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  color: inherit;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background-main);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 1.3rem;
}

button {
  border: none;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.3rem;
}

h6 {
  font-size: 1rem;
}

/* Tablet and below */
@media (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.3rem;
  }

  h5 {
    font-size: 1.1rem;
  }

  h6 {
    font-size: 0.95rem;
  }
}

/* Mobile phones */
@media (max-width: 480px) {
  h1 {
    font-size: 2.25rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  h4 {
    font-size: 1.1rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: 0.9rem;
  }
}
