@use "sass:list";
@use "variables" as *;

*,
*::before,
*::after {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

a,
a:visited,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  color: inherit;
}
html,
body,
main {
  margin: 0;
  padding: 0;
  /* Set height on both elements for percentage-based sizing to work */
  height: 100%;
}
body {
  min-height: 100vh;
  color: $color-text;
  background: $color-background-main;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  border: none;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.7;
  }
}

.slide-animation {
  animation: myAnim 0.5s ease-in 0s 1 normal forwards;
}

@keyframes myAnim {
  0% {
    opacity: 0;
    transform: translateY(250px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@each $heading, $sizes in $heading-sizes {
  #{$heading} {
    @include heading-size(list.nth($sizes, 1), list.nth($sizes, 2));
  }
}

.common-btn {
  background-color: $color-background-secondary;
  padding: 1rem;
}

.header-footer {
  @include main-card();
}
